$text-color: #4b587c;

img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	background: transparent;
}

.close-header {
	font-size: 1.75rem;
	color: $text-color;
}

.header {
	height: 70px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	border-bottom: 1px solid lightgrey;
	padding: 0 18px;

	.left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 32px;

		.hamburger-menu {
			display: none;
			align-self: flex-end;
		}
	}

	.navbar {
		flex: 1 0 70%;

		.navbar-links {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style-type: none;
			gap: 32px;

			.nav-link {
				text-decoration: none;
				color: $text-color;
			}

			.active {
				color: #e12e0d;
			}
		}
	}

	.right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 16px;
		.sign-in-btn {
			padding: 0.5rem 1rem;
			background-color: #fef6f2;
			color: #e12e0d;
			font-size: 1rem;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

.mobile-header {
	height: 100vh;
	padding: 2rem;

	.mobile-header-nav {
		margin-top: 1.5rem;
		width: 100%;

		.mobile-header-link {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 1.2rem;
			margin: 1rem 0;
			cursor: pointer;

			a {
				flex: 1 0;
				text-decoration: none;
				color: #333;
				font-weight: 500;
				background-color: #ededed;
			}
		}
	}
}

@media screen and (min-width: 761px) {
	.mobile-header,
	.hamburger-menu,
	.close-header {
		display: none;
	}
}
